fastapi
uvicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
elasticsearch
google-api-python-client
langchain-mistralai
mistralai
chromadb
faiss-cpu 
unstructured
langchain-community
ipywidgets
huggingface_hub
nest_asyncio
python-docx